html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main {
    overflow: hidden;
    position: relative;
}

.header {
    z-index: 100;
    height: 70px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #eef;
    border-color: #aaa;
    border-bottom-width: 2px;
    box-shadow: -1px 10px 15px -2px rgba(0, 0, 0, 0.1);

    .app-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .links {
            display: flex;
            flex-direction: column;
            line-height: 1.2;

            .module-name {
                font-size: 0.9rem;
                //font-family: 'font-italic';
                opacity: 0.65;
                text-transform: uppercase;
            }
        }
    }
}

.footer {
    z-index: 100;
    height: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef;
    border-color: #aaa;
    border-top-width: 1px;

    span {
        font-size: 0.7rem;
        opacity: 0.45;
    }
}

.content {
    z-index: 0;
    margin-top: 70px;
    margin-bottom: 36px;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);

    .app-content {
        flex: 1;
        width: 100%;
        background-color: #fff;
        position: relative;

        .module-content {
            overflow-y: auto;
            margin-top: 50px;
            
            .feature-content, .page {
                padding: 0.5rem 1rem;
                height: calc(100vh - 150px);
            }
        }
    }
}

.centered-content {
    display: flex;
    justify-content: center;
    width: 100%;

    .content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
